.headerLinks {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 1rem;
  cursor: pointer;
  
  color: var(--color-light);

  @media screen and (max-width: 640px) {
    display: none;
  }
}

.btn {
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 1rem;
  color: var(--color-light);
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
